<script setup>
import HelloWorld from "./components/HelloWorld.vue";
import TheWelcome from "./components/TheWelcome.vue";
</script>

<template>
  <main>
    <TheWelcome />
  </main>
</template>

<style>
@import "./assets/base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}
.container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    background: white;
    color: black;
  }


  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}
</style>
