<script setup></script>

<template>
  <div>
    <div class="container">
      <img
        alt="Pexels"
        class="image"
        src="../assets/pexels.jpeg"
        width="500"
        height="500"
      />
    </div>
    <div>
      <h1 class="p1">We power innovation <br />because we are innovators</h1>
    </div>
    <span class="p2">
      Mollis aliquam ut porttitor leo a diam. Ac tortor vitae purus faucibus
      ornare. <br />Sapien faucibus et molestie ac feugiat. Mauris in aliquam
      sem fringilla ut <br />
      morbi tincidunt augue interdum.
    </span>
    <form class="subscribe">
      <input class="input" type="email" id="email" placeholder="YOUR EMAIL" />

      <button class="button" type="submit" value="submit">CONTACT US</button>
    </form>
  </div>
</template>

<style scoped>
body {
  background-color: lightblue;
}

.container {
  height: 250px;
  align-items: center;
  justify-content: center;
}
.container .image {
  padding-top: 100px;
  padding-bottom: 50px;
}
.u-align-center {
  text-align: center;
}

.button {
  justify-content: center;
  text-align: left;
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  background-color: #bb9adb;
  color: white;

  border-color: transparent !important;
}

.button:hover {
  background-color: #b285df;
}

.subscribe {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.input {
  justify-content: center;
  display: flex;
  text-align: left;
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: none !important;
  border-color: transparent !important;
}

.p1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 50px;
  justify-content: center;
  display: flex;
  margin-top: 100px;
  text-align: center;
}

.p2 {
  font-family: "Open Sans", sans-serif;
  justify-content: center;
  display: flex;
  text-align: center;
  margin-top: 25px;
}
image {
  margin: auto;
  display: block;
}
</style>
